/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 juil. 2016, 18:23:55
    Author     : tom
*/

.menu, .title, .content, .footer{
    
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}